$background: #b0bcdd !default;
$border: #e6eaf4 !default;
$border-low: #a6b3d9 !default;
$border-radius: 4px !default;
$button-radius: 2px !default;
$caption-text: #adadad !default;
$cell-background: #f1f3f9 !default;
$cell-odd-background: #e6eaf4 !default;
$cell-odd-text: #273259 !default;
$cell-padding: 0.3em 0.6em !default;
$cell-text: #344579 !default;
$disabled-text: #adadad !default;
$fixed-menu-border-bottom: #e6eaf4 !default;
$head-background: #d1d7eb !default;
$head-text: #1c2440 !default;
$heading-text: #171f36 !default;
$inline-help-text: #adadad !default;
$input-border: #e6e6e6 !default;
$input-group-first-radius: 4px 4px 0px 0px !default;
$input-group-last-radius: 0px 0px 4px 4px !default;
$input-padding: 0.5em 0.6em !default;
$input-radius: 4px !default;
$input-radius-rounded: 30px !default;
$input-shadow-inset: #ededed !default;
$label: #4f4f4f !default;
$legend-rule: #ededed !default;
$legend-text: #262626 !default;
$menu-background: #f1f3f9 !default;
$menu-border: #e6eaf4 !default;
$menu-hover-background: #d8ddee !default;
$menu-hover-text: #273259 !default;
$menu-item-padding: 0.35em 1.4em !default;
$menu-selected-background: #3355BA !default;
$menu-selected-text: #fbfcfe !default;
$menu-text: #344579 !default;
$menu-text-disabled: #97a6d3 !default;
$padding: 0.5em 1.5em 0.5em !default;
$paginator-radius-next: 0px 4px 4px 0px !default;
$paginator-radius-prev: 4px 0px 0px 4px !default;
$selected-background: #3355BA !default;
$selected-text: #fbfcfe !default;
$separator: #e6e6e6 !default;
$text: #0e1320 !default;

