
/* foundational CSS */
.pure-default .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid ;
}

.pure-default .pure-table caption {
    color: ;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-default .pure-table td,
.pure-default .pure-table th {
    border-left: 1px solid ;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: ; /* cell padding */
}

.pure-default .pure-table td:first-child,
.pure-default .pure-table th:first-child {
    border-left-width: 0;
}

.pure-default .pure-table thead {
    background-color: ;
    color: ;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

/*
striping:
even - #fff (white)
odd - #edf5ff (light blue)
*/
.pure-default .pure-table td {
    background-color: ;
    color: ;
}
.pure-default .pure-table-odd td {
    background-color: ;
    color: ;
}

/* BORDERED TABLES */
.pure-default .pure-table-bordered td {
    border-bottom:1px solid ;
}
.pure-default .pure-table-bordered tbody > tr:last-child td,
.pure-default .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-default .pure-table-horizontal td,
.pure-default .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid ;
}
.pure-default .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
